APP_NAME=
APP_VERSION=
APP_TIMEZONE=
APP_LOCALE=
ENVIRONMENT=
DEBUG=

MONGODB_URL=
MONGODB_DATABASE=
MONGODB_POOL_MIN_SIZE=
MONGODB_POOL_MAX_SIZE=
MONGODB_SERVER_SELECTION_TIMEOUT_MS=
MONGODB_CONNECT_TIMEOUT_MS=
MONGODB_SOCKET_TIMEOUT_MS=

JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_EXPIRE_MINUTES=
JWT_REFRESH_EXPIRE_DAYS=

VITE_API_URL=